*
!scripts
!scripts/*
!scripts/common
!scripts/common/*
!scripts/dada2
!scripts/dada2/*
scripts/.snakemake*
!Snakefile
!config.yaml
!samples.tsv
!resources
!resources/*
!envs
!envs/*
!environment.yaml
!LICENSE
!README.md
!rules
!rules/*
!.gitignore
!.gitattributes
!.editorconfig
!.travis.yml
!.test
!test.py
!prepare_sample_table.py
!dependencies.yml
